// Variables
$main-font-family: "Arial Black", sans-serif;
$main-color: #ffffff;
$btn-text-color: #000000;
$button-background: #ffffff;
$btn-border: #445a70;
$button-hover-background: #1174df;
$section-background: #000000; // Fond des sections
$section-alt-background: #000000; // Fond alternatif pour les sections
$top-banner-bg: transparent; // Gris pour le bandeau



html, body {
    background: #000;
    margin: 0;
    padding: 0;
}


// Bandeau fixe en haut sur toute la largeur
#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $top-banner-bg;
    padding: 0.8rem 2%;  // Padding flexible pour mieux s'adapter
    z-index: 1000;
    display: flex;
    justify-content: flex-end;  // Les éléments sont alignés à droite
    align-items: center;
    box-sizing: border-box;
    opacity: 1;

    // Conteneur des liens à droite
    .right-links {
        display: flex;
        gap: 1.5rem;  // Ajuster l'espacement entre les liens
    }

    a {
        font-family: $main-font-family;
        color: $main-color;
        text-decoration: none;

        &.active {
            color: $button-hover-background;
        }
    }
}

// Section générique pour chaque bloc
.section {
    padding: 8vw 0; /* Supprime le padding horizontal */
    left: 0;
    width: 100vw; /* Prend toute la largeur */
    margin: 2vh 0;
    background-color: $section-background;
    color : $main-color;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    &:nth-child(even) {
        background-color: $section-alt-background;
    }

    h1 {
        font-size: 4vw;
        font-family: $main-font-family;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 2vw;
    }

    p {
        font-family: $main-font-family;
        font-size: 1.5vw;
        margin-bottom: 4vw;
    }

    .button {
        position: relative; /* Ajouté pour gérer le pseudo-élément */
        background-color: $button-background;
        color: $btn-text-color;
        font-family: 'Arial Black', sans-serif;
        font-size: 1.5rem;
        padding: 12px 24px;
        border: 3px solid $btn-border;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;
        display: inline-block; /* Permet de s'assurer que le bouton a bien une taille */
        text-decoration: none;
    }

    .button:hover {
        background-color: $button-hover-background;
        color: black;
        transform: scale(1.1);
        border: 3px solid $button-hover-background;
        box-shadow: 0 0 15px $button-hover-background;
    }

    img {
        object-position: center; /* Centrer l'image */
        display: block; /* Enlève les marges par défaut autour de l'image */
        width: auto;  /* Largeur de l'écran */
        height: 70vh; /* Hauteur de l'écran */
        margin: 0; /* Enlève les marges */
        padding: 0; /* Enlève le padding */
    }

    .content-container {
        display: flex;
        flex-direction: row;  // Alignement horizontal
        justify-content: center;
        align-items: center;
        gap: 2vw;  // Espacement entre les éléments
        margin-top: 2vw; // Pour éviter que ça colle au texte
    
        .side-img {
            transition: transform 0.4s ease-in-out;
    
            &.left {
                transform: translateX(-10px);
            }
    
            &.right {
                transform: translateX(10px);
            }
    
            &:hover {
                transform: scale(1.1); // Effet au survol
            }
        }
    }
    
}

